{% extends "base.html" %}

{% block content %}
  <h2>About Me</h2>
  
  <p>
    I'm Harsh Patel, a <strong>Software Developer</strong> with a Bachelor's degree in
    <strong>Information Technology</strong>, specializing in
    <strong>Software Development</strong> and <strong>Data Analytics</strong>.
    I enjoy building scalable applications, automating business processes, and
    transforming complex problems into efficient software solutions.
  </p>
  
  <p>
    My experience spans <strong>backend development</strong>,
    <strong>web applications</strong>, <strong>API integrations</strong>,
    <strong>enterprise systems</strong>, and <strong>cloud-based deployments</strong>.
    I am passionate about building <strong>reliable software</strong>,
    solving complex technical challenges, and delivering solutions that create
    <strong>real value for users and businesses</strong>.
  </p>

  <h2>Skills</h2>

  <ul>
        <li>
            <strong>Programming Languages:</strong>
            Python, Java, C#, JavaScript, SQL
        </li>

        <li>
            <strong>Frontend Development:</strong>
            HTML5, CSS3, Bootstrap, React.js, Responsive Design
        </li>

        <li>
            <strong>Backend Development:</strong>
            Django, ASP.NET Core, REST APIs, Frappe Framework, ERPNext
        </li>

        <li>
            <strong>Cloud & DevOps:</strong>
            AWS (EC2, S3), GitHub Actions, CI/CD Pipelines
        </li>

        <li>
            <strong>Databases:</strong>
            MySQL, SQL Server, Database Design, Query Optimization
        </li>

        <li>
            <strong>System Integration:</strong>
            RESTful APIs, JSON/XML Processing, Data Workflows, Business Automation
        </li>

        <li>
            <strong>Tools & Methodologies:</strong>
            Git, GitHub, GitLab, Jira, Agile (Scrum), VS Code
        </li>

        <li>
            <strong>Data & Analytics:</strong>
            Pandas, NumPy, Data Validation, Reporting & Analysis
        </li>
  </ul>

  <h2>Contact</h2>
  <ul>
    <li>Email: <a href="mailto:harshpatel.adl@gmail.com">harshpatel.adl@gmail.com</a></li>
    <li>GitHub: <a href="https://github.com/HarshPatel093" target="_blank">HarshPatel093</a></li>
    <li>LinkedIn: <a href="https://www.linkedin.com/in/harsh-patel-57525224a/" target="_blank">Harsh Patel</a></li>
  </ul>
{% endblock %}
